body {
    font-family: verdana, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table.navmenu {
    background: black;
    border-collapse: collapse;
    border-top: 15px solid black;
    color: white;
    font-family: serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
table.navmenu td.navcurrent {
    background: white;
    color: black;
}
table.navmenu td a {
    font-weight: bold;
    text-decoration: none;
}
table.navmenu td a:link {
    color: white;
}
table.navmenu td a:visited {
    color: white;
}

div.centered {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

div.blackbox {
    border: 15px solid black;
}

div.content {
    margin: 1.5em;
    margin-bottom: 0.5em;
}

div.copyright {
    margin-top: 3em;
    color: gray;
    font-size: 0.8em;
}
