body {
    font-family: verdana, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-family: serif;
}

img {
    border: hidden;
}

label{
    float: left;
    width: 100px;
    font-weight: bold;
}

label.error {
    color: red;
    float: none;
    vertical-align: top;
}

input, textarea{
    width: 480px;
    margin-bottom: 5px;
}

textarea{
    width: 480px;
    height: 240px;
}

.submit {
    margin-left: 100px;
    margin-top: 5px;
    width: 90px;
}

.lightbox li {
    display:inline;
}

.lightbox a {
    background-color: #ECECEC;
    border: 1px solid #999999;
    display: block;
    float: left;
    margin: 5px;
    padding: 5px 5px 10px;
}
.lightbox a:hover {
    background-color: #FFFFFF;
    border: 1px solid #333333;
}

.lightbox a img {
    border: 1px solid #999999;
}

.lightbox a.lightbox-enabled img {
    border: 1px dotted #999999;
}

table.menu {
    background: black;
    border-collapse: collapse;
    border-top: 15px solid black;
    color: white;
    font-family: serif;
    font-size: 1.3em;
    font-weight: bold;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}
table.menu td.current {
    background: white;
    color: black;
}

table.menu td.hover {
    background: gray;
}

table.menu td a {
    font-weight: bold;
    text-decoration: none;
}
table.menu td a:link {
    color: white;
}
table.menu td a:visited {
    color: white;
}

div.centered {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

div.blackbox {
    border: 15px solid black;
}

div.content {
    margin: 1.5em;
    margin-bottom: 0.5em;
}

div.copyright {
    margin-top: 3em;
    color: gray;
    font-size: 0.8em;
}

.clear {
    clear: left;
}
