<table class="menu">
  <tr>
    <td class="current">home</td>
    <td><a href="/gallery">gallery</a></td>
    <td><a href="/contact">contact</a></td>
    <td><a href="/emporium">emporium</a></td>
    <td><a href="/blog">blog</a></td>
  </tr>
</table>
