<% content_for :head do %>
  <% # Forgery protection from http://henrik.nyh.se/2008/05/rails-authenticity-token-with-jquery -%>
  <%= javascript_include_tag 'jquery.form', 'jquery.validate.pack' %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<% end %>

<script type="text/javascript">
  $().ready(function() {
    $("#form").validate({
      submitHandler: function(form) {
        $(form).ajaxSubmit({
          target: "#result"
        });
      }
    });
  });

  $(document).ajaxSend(function(event, request, settings) {
    if (typeof(AUTH_TOKEN) == "undefined") return;
    settings.data = settings.data || "";
    settings.data += (settings.data ? "&" : "") + "authenticity_token=" + encodeURIComponent(AUTH_TOKEN);
  });
</script>

<p>Whether you've got a defined commission, a vague notion for a cartoon,
  or want to buy a print from the gallery, you can contact me using the form
below.</p>
<form id="form" method="post" action="/<%= @current_page -%>">
  <fieldset>
    <legend>Please enter your name, email address and a message</legend>
    <p>
    <label for="name">Your name</label>
    <input id="name" name="name" class="required" minlength="2" />
    <p>
      <label for="email">Your email address</label>

      <input id="email" name="email" class="required email" />
    </p>
    <p>
      <label for="message">Your message</label>
      <textarea id="message" name="message" class="required"></textarea>
    </p>
    <p>
      <input class="submit" type="submit" value="Send"/>
      <div id="result"/>
    </p>
  </fieldset>


</form>
