<% content_for :head do %>
  <script type="text/javascript" src="/javascripts/jquery.lightbox.packed.js"></script>
  <script type="text/javascript" src="/javascripts/lightbox-setup.js"></script>
  <link rel="stylesheet" href="/style/jquery.lightbox.packed.css" />
<% end %>


<p>Whether you've got a defined commission, a vague notion for a cartoon,
  or want to buy a print from the gallery, you can contact me using the form
below:</p>
<form>
  <table>
    <tr>
      <td>Name</td>
      <td><input size='30'/></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input size='30'/></td>
    </tr>
    <tr>
      <td>Enquiry</td>
      <td><textarea cols='40' rows='6'></textarea></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Send"/></td>
    </tr>
  </table>
</form>
