<p>click on the thumbnails to enlarge</p>

<h2>cartoons</h2>

<a rel="lightbox-cartoons" title="A Better Class of Bag" href="/artwork/cartoons/betterclassofbag.jpg">
  <img class="thumb" src="/artwork/cartoons/betterclassofbag.jpg" alt="" />
</a>

<a rel="lightbox-cartoons" title="Dude" href="/artwork/cartoons/dude.jpg">
  <img class="thumb" src="/artwork/cartoons/dude.jpg" alt="" />
</a>

<a rel="lightbox-cartoons" title="Don't you dare blame me" href="/artwork/cartoons/fish.jpg">
  <img class="thumb" src="/artwork/cartoons/fish.jpg" alt="" />
</a>

<a rel="lightbox-cartoons" title="God" href="/artwork/cartoons/god.jpg">
  <img class="thumb" src="/artwork/cartoons/god.jpg" alt="" />
</a>

<h2>caricature</h2>
<h2>greetings cards</h2>
