<% content_for :head do %>
  <%= javascript_include_tag 'jquery.lightbox.packed', 'lightbox-setup' %>
  <%= stylesheet_link_tag 'jquery.lightbox.packed' %>
<% end %>

<p>click on the thumbnails to enlarge</p>

<div class="lightbox"
     <ul>
  <li>
    <a rel="lightbox-cartoons" title="Crimble, maybe?" href="/artwork/threekings.jpg">
      <img class="thumb" src="/artwork/threekings_thumb.jpg" alt="" />
    </a>
  </li>

  <li>
    <a rel="lightbox-cartoons" title="He's pretty messed up, doc. Looks like the dude snapped a heel" href="/artwork/dude.jpg">
      <img class="thumb" src="/artwork/dude_thumb.jpg" alt="" />
    </a>
  </li>

  <li>
    <a rel="lightbox-cartoons" title="Don't you dare blame me" href="/artwork/fish.jpg">
      <img class="thumb" src="/artwork/fish_thumb.jpg" alt="" />
    </a>
  </li>

  <li>
    <a rel="lightbox-cartoons" title="Super Gordon" href="/artwork/supergordon.jpg">
      <img class="thumb" src="/artwork/supergordon_thumb.jpg" alt="" />
    </a>
  </li>
</ul>
<div/>
<div class="clear"/>
