<p>click on the thumbnails to enlarge</p>

<h2>cartoons</h2>

<script type="text/javascript">
	$(function() {
		$('#cartoons a').lightBox();
	});
</script>

<div id="cartoons">
  <a href="/artwork/cartoons/betterclassofbag.jpg">bag</a>
  <a href="/artwork/cartoons/dude.jpg">dude</a>
  <a href="/artwork/cartoons/fish.jpg">fish</a>
  <a href="/artwork/cartoons/god.jpg">god</a>
</div>

<h2>caricature</h2>
<h2>greetings cards</h2>
