<p>Welcome.</p>
<p>I'm Kate Manson, a freelance cartoonist living in London.</p>
<p>You can <a href="/gallery">browse my work</a>,
  ask about <a href="/contact">commissioning</a> an original cartoon,
  <a href="/contact">contact me</a> with your ideas,
  or find out what I'm doing via my <a href="/blog">blog</a>.
</p>
